html{font-family: Arial, Helvetica, sans-serif;}

.cont{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    text-align: center;

}
#dia{color: rgb(6, 21, 120);}

#Excursión{color: rgb(6, 21, 120);}

#Visita{color: rgb(6, 21, 120);}

#Diamujer{color: rgb(6, 21, 120);}

#Taller{color: rgb(6, 21, 120);}

#Torneo{color: rgb(6, 21, 120);}


.centrado{
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.botoninicio{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .botoninicio:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
.encabezado{width: 100%;}

.h1titulo{color:rgb(6, 21, 120);}

body{margin: 0px;
background-color: rgb(201,207,252);
}

.Titulo{display: flex;
    position: relative;
    top: 10%;
    justify-content: center;
    }

header{
    text-align: center;
    background:url(../Imagenes/mesh-1430107.png) no-repeat center fixed;
    background-size: cover;
    height: 100px;
    width: 100%;
}

#pini{
    text-align: center;
    padding-top: 20px;
    color:rgb(6, 21, 120);
    
}
.pin2{
    text-align: center;
    color:rgb(6, 21, 120);}


.contacto{margin-top: 30px;}

input{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

legend{
    text-align: center;
    font-weight:bold;
    color:rgb(6, 21, 120);}

textarea{
    width: 90%;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;}
input[type=submit]
{
    width: 200px;
    padding: 10px 10px;
    display: block;
    margin: auto;
    border: 1px;
    border-radius: 4px;
    color: rgb(6, 21, 120);
    background-color: rgb(138, 152, 249);
    box-shadow: 1px 1px 1px rgb(6, 21, 120);}
.contacto{
border:0px solid white
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(6, 21, 120);
    color: white;
}

.Izquierda{
    display: none;
    background-color :rgb(6, 21, 120);
    align-items: center;
    width: 25%;
    height: 100%;
}

i {color: white;
padding: 25px;}
main{
    height: 100%;
    background-color: rgb(201,207,252);
    width: 50%;
}

.Derecha {
    display: none;
    height: 100%;
    background-color:  rgb(6, 21, 120);
    width: 25%;
}
a{color: white;}

.Derecha li{list-style: none;padding: 10px;}

article {
    margin: 25px;
    background-color: rgb(138, 152, 249);
    margin: 2px;
}

.galeria {
  display: flex;
  float: left;
  flex-direction: row;
  width: 130px;
  height: 110px;
  border: 2px solid #777; 
  margin-right: 5px;
}

.galeria:hover {
  border: 2px solid rgb(6, 21, 120);
}

@media screen and (min-width:426px) and (max-width:1024px){
.htmlprincipal{width: 1024px;height: 1024px;}
.menu{display: none;}
#pini{
    width: 90%;
    text-align: center;
    padding-top: 20px;
    color:rgb(6, 21, 120);
    
}
.cont{
    width: 1024px;
    height: 100%;
    position: relative;
    display: inline-block;
    text-align: center;

}
.imageninicio{width: 1024px;height: 1024px;}
.pin2{
    width: 90%;
    text-align: center;
    color:rgb(6, 21, 120);}

#nav-menu-movil{
    margin: auto;
    width: 210px;
    margin-right: 100%;
    display: block;
    align-items: left;
}
#nav-menu-movil ul,li{
    list-style: none;
}
#menu-desple *{
    background-color: rgb(138, 152, 249);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight:bold;
}
#menu-desple *:hover{
    background-color:rgb(6, 21, 120);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
#menu-desple li ul{
    display: none;
    position: absolute;
    min-width: 110px;
}
#menu-desple li:hover > ul {
    display: block
}
#menu-desple > li {
    float: left;
}
.menu ,ul {
    padding-left: 15px;
}
#menu-desple li p {
    padding: 10 15px;
}
main{
    height: 1024px;
    background-color: rgb(201,207,252);
    width: 1024px;
}
#Contenedor{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 1024px;
    height: 1230px;
}
.Articulos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;
}

.Izquierda{
    display: none;
    background-color :rgb(6, 21, 120);
    width: 10%;
    height: 100%;
}

main{
    height: 100%;
    background-color: rgb(201,207,252);
    width: 90%;
}

.Derecha {
    display: flex;
    height: 1024px;
    background-color:  rgb(6, 21, 120); 
    width: 50%;
    padding-right: 0px;
}

article {
    margin: 25px;
    width: 80%;
    background-color: rgb(138, 152, 249);
}

}
@media screen and (min-width:1024px) and (max-width:1440px){
    .imageninicio{width: 1440px;height: 100%;}
    .forma{height: 1024px;width: 100%;}
    #nav-menu-movil{
        display: none;
        margin: auto;
        width: 210px;
        margin-right: 100%;
        display: block;
        align-items: left;
    }
    #nav-menu-movil ul{
        display: none;
        list-style: none;
    }
    #menu-desple *{
        display: none;
        background-color: rgb(138, 152, 249);
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        font-weight:bold;
    }
    #menu-desple *:hover{
        display: none;
        background-color:rgb(6, 21, 120);
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
    }
    #menu-desple li ul{
        display: none;
        position: absolute;
        min-width: 110px;
    }
    #menu-desple li:hover > ul {
        display: none;
        display: block
    }
    #menu-desple > li {
        display: none;
        float: left;
    }
    .menu ,ul {
        padding-left: 15px;
    }
    #menu-desple li p {
        display: none;
        padding: 10 15px;
    }
    .menu{
    display: flex;
    background-color:rgb(138, 152, 249);
    width: 100%;
    height: 25px;
    margin: 0px;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
}
.menu li{
    display: inline-block;
   height:100%;
   padding-left: 35px;
   padding-right: 35px;
   justify-content: center;
}
.menu a{
    font-weight:bold;
    text-decoration: none;
    color:white;
    display: block;
}

.menua{
    position: relative;
    top: 10%;
    justify-content: center;}

.menu a:hover{text-decoration:underline;}

.menu li:hover{
    background-color:rgb(6, 21, 120);
}
main{
    height: 100%;
    background-color: rgb(201,207,252);
    width: 90%;
}

    #Contenedor{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 1200px;
}
.Articulos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.Izquierda{
    display: flex;
    background-color :rgb(6, 21, 120);
    flex-direction: column;
    width: 25%;
    height: 100%;
}


.Derecha {
    display: flex;
    height: 100%;
    background-color:  rgb(6, 21, 120); 
    width: 25%;
}

article {
    margin: 25px;
    background-color: rgb(138, 152, 249);
    margin-left: 45px;}
.extraescolar{
    margin: 25px;
    background-color: rgb(138, 152, 249);
    margin-left: 45px;
    height:165px}}

@media screen and (min-width:320px) and (max-width:425px){
    .imageninicio{width: 425px;height: 1024px;padding-left: 0%;}
    #pini{
    width: 85%;
    text-align: center;
    padding-top: 20px;
    color:rgb(6, 21, 120);
    
    }
    .pin2{
    width: 85%;
    text-align: center;
    color:rgb(6, 21, 120);}

    .menu{display: none;}
    #nav-menu-movil{
        margin: auto;
        width: 210px;
        margin-right: 100%;
        display: block;
        align-items: left;
    }
    #nav-menu-movil ul,li{
        list-style: none;
    }
    #menu-desple *{
        background-color: rgb(138, 152, 249);
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        font-weight:bold;
    }
    #menu-desple *:hover{
        background-color:rgb(6, 21, 120);
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
    }
    #menu-desple li ul{
        display: none;
        position: absolute;
        min-width: 110px;
    }
    #menu-desple li:hover > ul {
        display: block
    }
    #menu-desple > li {
        float: left;
    }
    .menu ,ul {
        padding-left: 15px;
    }
    #menu-desple li p {
        padding: 10 15px;
    }
    .htmlprincipal{height: 1024px;width: 425px;}
    #Contenedor{
            display: flex;
            flex-direction: column;
            overflow: auto;
            width: 425px;
            height: 1500px;
        }
    main{
    height: 100%;
    background-color: rgb(201,207,252);
    width: 90%;
        }
    .Articulos{
            padding-right: 0px;
            padding-left: 0px;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            margin: auto;
        }
        
    .Izquierda{
            display: none;
            background-color :rgb(6, 21, 120);
            width: 10%;
            height: 100%;
        }
        
    main{
            padding-left: 30px;
            height: 100%;
            background-color: rgb(201,207,252);
            width: 90%;
        }
        
    .Derecha {
            display: none;
            height: 1024px;
            background-color:  rgb(6, 21, 120); 
            width: 50%;
            padding-right: 0px;
        }
        
    article {
            
            margin: 25px;
            width: 80%;
            background-color: rgb(138, 152, 249);
        }
        
        }