html{font-family: Arial, Helvetica, sans-serif;}

#Contenedor{
    display: flex;
    flex-direction:column;
    width: 100%;
    background-attachment: fixed;
    height: 900px;
    border: 0px;
    margin: 0px;
}
.encabezado{width: 100%;}

h1{color:rgb(6, 21, 120);}


body{margin: 0px;
background-color: rgb(201,207,252);}

.Titulo{display: flex;
    position: relative;
    top: 10%;
    justify-content: center;
    }

header{
    text-align: center;
    background:url(../Imagenes/mesh-1430107.png) no-repeat center fixed;
    background-size: cover;
    height: 100px;
    width: 100%;
}

#pini{
    text-align: center;
    padding-top: 20px;
    color:rgb(6, 21, 120);
    
}
p{
    text-align: center;
    color:rgb(6, 21, 120);}

.menu{
    display: flex;
    background-color:rgb(138, 152, 249);
    width: 100%;
    height: 25px;
    margin: 0px;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
}
.menu li{
    display: inline-block;
   height:100%;
   padding-left: 65px;
   padding-right: 65px;
   justify-content: center;
}
.menu a{
    font-weight:bold;
    text-decoration: none;
    color:white;
    display: block;
}

.menua{
    display: flex;
    position: relative;
    top: 10%;
    justify-content: center;}
.menu a:hover{text-decoration:underline;}

.menu li:hover{
    background-color:rgb(6, 21, 120);
}

fieldset{margin-top: 30px;}

input{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

legend{
    text-align: center;
    font-weight:bold;
    color:rgb(6, 21, 120);}

textarea{
    width: 95%;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;}
input[type=submit]
{
    width: 200px;
    padding: 10px 10px;
    display: block;
    margin: auto;
    border: 1px;
    border-radius: 4px;
    color: rgb(6, 21, 120);
    background-color: rgb(138, 152, 249);
    box-shadow: 1px 1px 1px rgb(6, 21, 120);}
    fieldset{
    border:0px solid white
    }

input[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(6, 21, 120);
    color: white;
}