/*-------------------------LAYOUT--------------------------------- */
.colum1 {
    width: 80%;
}
.contacto{
    width: 20%;
}
.ctn-pagina{
    display: flex;
    flex-direction: row;   
}
.contacto{
    display: flex;
    flex-direction: column;
}
.contacto table{
    margin-top: 10%;
    margin-left: 15%;
    /* margin-right: 5%; */
}

/* --------------------------------Diseño-Web---------------------------------------- */
html{font-family: Arial, Helvetica, sans-serif;}
html,body{
    margin: 0;
}
body {
    background-color: #c9cffc;
    color: #061579;
}
.encabezado{width: 100%;}
.Titulo{display: flex;
    position: relative;
    top: 10%;
    justify-content: center;
}
header{
    text-align: center;
    background:url(../Imagenes/mesh-1430107.png) no-repeat center fixed;
    background-size: cover;
    height: 100px;
    width: 100%;
}
.menu{
    display: flex;
    background-color:rgb(138, 152, 249);
    width: 100%;
    height: 25px;
    margin: 0px;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
}
.menu li{
    display: inline-block;
   height:100%;
   padding-left: 65px;
   padding-right: 65px;
   justify-content: center;
}
.menu a{
    font-weight:bold;
    text-decoration: none;
    color:white;
    display: block;
}
.menu a:hover{text-decoration:underline;}
.menu li:hover{
    background-color:rgb(6, 21, 120);
}
.contacto{
    background-color: #061579;
    color: #c9cffc;
    width: 20%;
    text-align: center;
}
.ctn-fct ul{
    list-style: square inside url("../images/ico-documento_15x15.png");
}
.ctn-fct a:hover{
    background-color: #06157981;
    font-size: 24px;
}
.ctn-matricula a:hover{
    background-color: #06157981;
    font-size: 24px;
}
.ctn-ayudas a:hover{
    background-color: #06157981;
    font-size: 24px;
}
.ctn-fct a{
    color: #415afc;
}
.ctn-matricula a{
    color: #415afc;
}
.ctn-ayudas a{
    color: #415afc;
}
.beca1 iframe{
   margin-left: 30%;
}
.beca1 p{
   margin: 10px
}
.beca1 p::first-letter{
   font-size: 3em;
}
.beca1, .ctn-fct, .ctn-matricula, .ctn-ayudas{
    /* border-top: solid 3px #061579; */
    border-bottom: solid 3px #061579;
}
h2{
    border: 1px solid #061579;
    width: 100%;
    text-align: center;
}